$color-bg: #f0f0f0;
$color-text: #151717;
$color-quadrant: #fff;
$color-border: #eaeaea;
$color-good: #75cb4b;
$color-bad: #e7552f;
$color-next: #402aa1;
$color-question: #4b9dcb;

$border-radius: 4px;